.profile {
  display: flex;
  padding: 300px;
  justify-content: center;
}

.profile-pic {
  height: 100%;
}

.profile-pic h2 {
  margin-top: 0;
  text-align: center;
  font-family: "Bungee", sans-serif;
}

