.fixed-top {
  position: fixed;
  height: 120px;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5em 1.5em 0 1.5em;
}

.logo {
  float: right;
}

.slider {
  float: right;
  display: flex;
  justify-content: center;
}

.nav-link {
  font-family: "Source Sans Pro", sans-serif;
}

@keyframes moveup {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 1px;
  }
  50% {
    bottom: 2px;
  }
}
