.new-tweet {
  padding-top: 2em;
  padding-bottom: 2em;
}

.new-tweet textarea {
  background: transparent;
  border: none;
  border-bottom: 6px solid #545149;
  width: 100%;
  font-weight: bold;
}

.new-tweet input {
 background-color: #4056A1;
 color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
}

.counter {
  font-family: 'Bungee', sans-serif;
  float: right;
}

.outter-alert-container {
  display: flex;
  justify-content: center;
}

alert {
  margin-top: 2em;
  border: 5px solid #E2574C;
  display: flex;
}
.alert img {
  padding: 0.5em;
  height: 4em;
  width: 4em;
}
.alert p {
  color: #E2574C;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0;
}

#alert-container {
  display: none;
  width: 200px;
  height:200px;
}