article {
  border: 6px solid #545149;
}

article footer {
  padding: 0.5em;
  margin: 4%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: none;
  border-top: 6px solid #545149;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

article .tweet {
  padding: 0.5em;
  margin: 2%;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

article .tweet img {
  padding-right: 1.3em;
  height: 4em;
}

footer img {
  height: 30px;
  padding: 3px;
}

footer p {
 margin: 0;
  height: 40px;
  font-size: 20px;
}

.tweet-logname {
  margin-right: 5%;
  display: none;
}
article:hover {
  box-shadow: 15px 20px #3e556d72;
}

article:hover .tweet-logname {
  display: inline;
}

article:hover .bold {
  font-weight: bold;
} 

header .tweet-profile {
  display: inherit;
}

header .profile {
  font-size: 1.3em;
}

footer img {
  height: 40px;
  padding: 3px;
}


.tweet-input {
  margin: 5%;
  margin-top: 0;
  overflow-wrap: break-word;
}

#tweets-container {
  margin-bottom: 3em;
}

#scroll-up-btn {
  z-index: 2000;
  border: none;
  background-color: transparent;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
}

#scroll-up-btn:hover {
  cursor: pointer;
}